# .env.example
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
VITE_VAPID_PUBLIC_KEY=BJcK_d5G9Dg5pAqu8bWp3j6WmmdSsj2DiGwHyqErjOzsx609wZO81aWf_CM086Pll5q4gnD2Dg89P2OZd6Fe9xs
VAPID_PRIVATE_KEY=eW9MB1uclvTwoWA7Nl1O6BcBNS0YNK3OKup1_fi3AdE
VAPID_SUBJECT=mailto:kakaxe188@gmail.com
